<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/myDesign.css" />
</head>

<body>
    <div class="header">
        <div class="header-content">
            <a class="styled-button" href="https://green-cape-buffalo-sock.cyclic.app/api/movies/home">HOME</a>
            <div class="header-title">
                <h2>WEB Project || ANUJ DEOL</h2>
            </div>
        </div>
    </div>

    <div class="content">
        {{{body}}}
    </div>

    <div class="footer">
        <p>CONTACT EMAIL: ANUJDEOL007.COM</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
